<div class="row">
	<div class="col-sm-12">
		<uib-tabset active="activeForm"> 
			<uib-tab index="0" heading="Create New Bug / List">
				<div class="alert alert-warning" role="alert">
					<form class="form-horizontal">
						<fieldset>
							<legend>Create Bug</legend>
							<div class="form-group">
								<div class="col-md-5">
									<input id="textinput" name="textinput" type="text"
										ng-model="bug.title" placeholder="Title"
										class="form-control input-md">
								</div>
								<div class="col-md-3">
									<select id="selectbasic" name="selectbasic"
										ng-model="bug.status.id" class="form-control">
										<option value="" selected disabled>Status</option>
										<option ng-repeat="bugStatus in bugStatusList"
											value="{{bugStatus.id}}"
											ng-selected="isInSelectedStatus({{bugStatus.id}})">{{bugStatus.description}}</option>
									</select>
								</div>
								<div class="col-md-3">
									<select id="selectbasic" name="selectbasic"
										ng-model="bug.priority.id" class="form-control">
										<option value="" selected disabled>Priority</option>
										<option ng-repeat="bugPriority in bugPriorityList"
											value="{{bugPriority.id}}"
											ng-selected="isInSelectedPriority({{bugPriority.id}})">{{bugPriority.description}}</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<div class="col-md-5">
									<textarea class="form-control" rows="3" ng-model="bug.description"
										placeholder="Description"></textarea>
								</div>
								<div class="col-md-6">
									<select id="selectbasic" name="selectbasic"
										ng-model="bug.developer.id" class="form-control">
										<option value="" selected disabled>Developer</option>
										<option ng-repeat="developer in developerList"
											value="{{developer.id}}"
											ng-selected="isInSelectedDeveloper({{developer.id}})">{{developer.name}}</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<div class="col-md-2">
									<button type="button" class="btn btn-success"
										ng-click="createOrEdit()">
										<span class="glyphicon glyphicon-floppy-disk"></span> Save
									</button>
									<button type="button" class="btn btn-danger" ng-click="resetForm()">
										<span class="glyphicon glyphicon-refresh"></span> Reset
									</button>
								</div>
							</div>
						</fieldset>
					</form>
					<table class="table table-striped">
						<thead>
							<tr>
								<th class="col-sm-1">ID</th>
								<th class="col-sm-2">Title</th>
								<th class="col-sm-5">Description</th>
								<th class="col-sm-1">Status</th>
								<th class="col-sm-1">Priority</th>
								<th class="col-sm-1">Action</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-if="bugList == 0">
								<td align="center" colspan="6">No data to show!</td>
							</tr>
							<tr ng-repeat="bug in bugList">
								<td>{{bug.issueId}}</td>
								<td>{{bug.title}}</td>
								<td>{{bug.description}}</td>
								<td>{{bug.status.description}}</td>
								<td>{{bug.priority.description}}</td>
								<td>
									<button type="button" class="btn btn-info btn-xs" ng-click="showEditPanel(bug)">
										<span class="glyphicon glyphicon-edit"></span>
									</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</uib-tab> 
			<uib-tab index="1" heading="List Unassigned Bugs">
				<table class="table table-striped">
					<thead>
						<tr>
							<th class="col-sm-1">ID</th>
							<th class="col-sm-3">Title</th>
							<th class="col-sm-5">Description</th>
							<th class="col-sm-1">Status</th>
							<th class="col-sm-1">Priority</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-if="bugUnassignedList == 0">
							<td align="center" colspan="6">No data to show!</td>
						</tr>
						<tr ng-repeat="bug in bugUnassignedList">
							<td>{{bug.issueId}}</td>
							<td>{{bug.title}}</td>
							<td>{{bug.description}}</td>
							<td>{{bug.status.description}}</td>
							<td>{{bug.priority.description}}</td>
						</tr>
					</tbody>
				</table>
			</uib-tab>
			<uib-tab index="2" heading="Assign Bug to Developer">
				<div class="panel-body">
					<div class="col-md-3">
						<select id="selectbasic" name="selectbasic"
							ng-model="assign.bug.id" class="form-control">
							<option value="" selected disabled>..:: Choose Bug ::..</option>
							<option ng-repeat="bug in bugUnassignedList"
								value="{{bug.issueId}}">{{bug.title}}</option>
						</select>
					</div>
					<div class="col-md-3">
						<select id="selectbasic" name="selectbasic"
							ng-model="assign.bug.developer.id" class="form-control">
							<option value="" selected disabled>..:: Choose Developer ::..</option>
							<option ng-repeat="developer in developerList"
								value="{{developer.id}}">{{developer.name}}</option>
						</select>
					</div>
					<div class="col-md-2">
						<button type="button" class="btn btn-info btn-xl" ng-click="assign()">
							<span class="glyphicon glyphicon-edit"></span> Assign
						</button>
					</div>
				</div>
			</uib-tab> 
		</uib-tabset>
	</div>
</div>

